<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta charset="UTF-8">
        
        <title>TechTIKT - Gerar Bilhete</title>

        <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
        <link href="../css/font-awesome.css" rel="stylesheet">
        <link href="../css/style.css" rel="stylesheet">

        <!-- Favicon  -->
        <link rel="icon" href="../assets/techtikt_favicon.png">
    </head>
    <body data-spy="fixed-top" data-target=".fixed-top">

        <!-- Nav -->
        <header>

            <!-- Logo -->
            <a class="logo" href="/"><img src="../assets/techtikt_logo1.jpeg" alt="logo"></a>
            
            <!-- Links -->
            <nav>
                <ul class="nav__links">
                    <li><a href="/info">Info</a></li>
                    <li><a href="/utilizacao">Utilizar</a></li>
                    <li><a href="/recarga">Recarga</a></li>
                    <li><a href="/meu-techtikt">Meu TechTIKT</a></li>
                </ul>
            </nav>

            <!-- Btn Nav -->
            <a class="nav-menu" href="/">
                <button>Menu</button>
            </a> 
        </header>

        <section class="section__mt">
            <!-- Título -->
            <div class="txt-mt">
                <h2>Meu TechTitk:</h2>
            </div>

            <!-- Container -->
            <div class="mt-container">
                <ul class="ul-mt">

                    <!-- G1 row -->
                    <li class="row-mt">
                        <div class="mt-pgru">
                            <p class="txt-plano">Plano Utilizado</p>
                            <label for=""></label>
                        </div>
                        <div class="mt-pgru">
                            <p class="txt-dru">Data de Geração do Bilhete</p>
                            <label for=""></label>
                        </div>
                        <div class="mt-pgru">
                            <p class="txt-dru">Data de Recarga</p>
                            <label for=""></label>
                        </div>
                        <div class="mt-pgru">
                            <p class="txt-dru">Data de Utilização</p>
                            <label for=""></label>
                        </div>
                        
                    </li>
                    
                </ul>
            </div>
        </section>

        <script src="https://kit.fontawesome.com/c8c0505216.js" crossorigin="anonymous"></script>
        <script src="../js/script.js"></script>
    </body>