<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta charset="UTF-8">
        
        <title>TechTIKT</title>

        <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
        <link href="../css/font-awesome.css" rel="stylesheet">
        <link href="../css/style.css" rel="stylesheet">

        <!-- Favicon  -->
        <link rel="icon" href="../assets/techtikt_favicon.png">
    </head>
    <body data-spy="fixed-top" data-target=".fixed-top">

        <!-- Nav -->
        <header>

            <!-- Logo -->
            <a class="logo" href="/"><img src="../assets/techtikt_logo1.jpeg" alt="logo"></a>
            
            <!-- Links -->
            <nav>
                <ul class="nav__links">
                    <li><a href="/info">Info</a></li>
                    <li><a href="/geracao">Gerar Bilhete</a></li>
                    <li><a href="/utilizacao">Utilizar</a></li>
                    <li><a href="/recarga">Recarga</a></li>
                    <li><a href="/meu-techtikt">Meu TechTIKT</a></li>
                </ul>
            </nav>

            <!-- Btn Nav -->
            <a class="nav-menu" href="/">
                <button>Menu</button>
            </a> 
        </header>

        <!-- Input bilhete -->
        <section class="section__uti">
            
            <!-- Titulo -->
            <div class="txt-uti">
                <h2>Utilize seu TechTIKT</h2>
            </div>
            
            <!-- Subtítulo -->
            <p class="subtitulo">Insira o código do seu bilhete:</p>
           
           <!-- Container Input Código -->
            <div class="container-input">
                <input class="input-codigo" type="text" id="inputUtilizacao" maxlength="8"/>
                <!-- <a type="button" class="btn-recarregar" onclick="Recarregar()">Recarregar</a> -->
                <label type="text" id="codigoUtilizacao"></label>
            </div>

            <!-- Btn Utilizar -->
            <div class="btn-rec">
                <a class="btn-recarregar">
                    <button onclick="utilizar()">ATIVAR</button>
                </a> 
            </div>
        </section>

        <!-- Modal -->
        <section id="section__modal__gerado" class="hide">
            <div id="modal-container-uti" class="modal-container-uti">
                <div class="modal-uti-header">
                    <h2><label id="lbl-res"></label></h2>
                    <p><label id="lbl-sub"></label></p>
                </div>

                <div class="modal-uti-body">
                    <p><img src="../assets/techtikt_geracaobilhete.jpeg"/></p>
                    <p><label id="codigo" type="text"></label></p>
                </div>
                
                <div class="modal-uti-footer">
                    <button id="modal-uti-ok-button" onclick="toggleModal()">OK</button>
                </div>
            </div>
        </section>


        <!-- Script -->
        <script src="https://kit.fontawesome.com/c8c0505216.js" crossorigin="anonymous"></script>
        <script src="../js/script.js"></script>

    </body>
